// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

header{

    background-color: rgb(100,100,100);
    border-bottom: 1px solid black;
  h1{
    color: black;
    text-align: center;
  }
}

footer{

  background-color: rgb(100,100,100);
  color: black;
  border-top: 1px solid black;
}

.title{

  background-color: rgb(150,150,150);
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;

  div{
    width: 33%;
  }
}

.list{
  background-color: rgb(150,150,150);
  border: 1px solid black;
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 72px;
  overflow: auto;
}

.container{

  width: 100%;
  background-color: rgb(150,150,150);
  display: flex;
  justify-content: center;
  padding: 20px;

  button{
    margin: 20px;
  }
}
